body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:  #1B1F23;
  color: #ffffff;
}

.row {
  margin-top: 5px;
}

.main-container {
  margin-top: 10px;
}

.navbar {
  background-color: #2c2f33 !important;
  padding: 10px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.navbar a:hover {
  color: #ed4245;
}

.filter {
  color:#666666;
  margin-right: 5px;
}

.filter:hover {
  color: #999999;
}

.comment {
  margin-left: calc(var(--indent-level) * 15px)
}

.comment-link {
  color:#666666;
}

.comment-link:hover {
  color: #999999;
  cursor: pointer;
}

input.comment-link {
  border: none;
  background: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}


.list-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2c2f33;
  color: #ffffff;
  border-color: #808080 !important;
}

.list-group h4 {
  margin-bottom: 10px;
}

.list-group p {
  margin:0;
}

.list-group-item {
  background-color:  #1B1F23;
  color: #ffffff;
  border-color: #808080;
}

.issue-description {
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 10px;
}

.item-title {
  text-decoration: none;
  color: #ffffff;
}

.item-title:hover {
  color: #ed4245;
}

.item-info {
  font-size: 14px;
  border-bottom: 1px solid #666666;
  padding: 5px;
}

.item-dates {
  color: #999999;
  font-size: 12px;
  margin-top: 5px;
}


.form-container {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

.form-control {
  color: #ffffff;
  background-color: #2c2f33;
  border: 1px solid #666666;
}

.form-control:focus {
  color: #ffffff;
  background-color: #2c2f33;
  border: 1px solid #D73A49;
  box-shadow: 0 0 5px #D73A49;
}

.form-check {
  list-style: none;
}

.form-check-input {

}


.btn {
  background-color: #D73A49 !important;
  color: #ffffff !important;
  border: 1px solid black;
  text-shadow: 1px 1px black;
}

.btn:hover {
  border: 1px solid #D73A49;
  box-shadow: 0 0 5px #D73A49;
}

.search-btn {
  background-color: #D73A49 !important;
  color: #ffffff !important;
  border: 1px solid black;
  border-radius: 5px;
  text-shadow: 1px 1px black;
}

.search-btn:hover {
  border: 1px solid #D73A49;
  box-shadow: 0 0 5px #D73A49;
}

.search-form {
  margin-right: 10px;
  height: 40px;
}

.dropdown-menu {
  background-color: #2c2f33 !important;
  color: #ffffff !important;
}

.dropdown-item {
  background-color: #2c2f33 !important;
  color: #ffffff !important;
}

.dropdown-item:hover {
  background-color: #666666 !important;
  color: #ffffff !important;
}


.add-form {
  display: none;
}

.remove-form {
  display: none;
}

div[class^="reply-form-"] {
  display: none;
}

div[class^="comment-form-"] {
  display: none;
}

div[class^="reply-tree-"] {
  display: none;
}


.sidebar-container {
  background-color: #2c2f33;
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 10px;
}

.sidebar {
  background-color: #2c2f33;
}

.sidebar-text {
  color: #999999;
  font-size:13px;
  margin: 0;
  margin-left: 20px;
}

.issue-items {
  border-bottom: 1px solid #666666;
  margin-bottom: 10px;
}

.page-select {
  color: #666666;
}

.page-select:hover {
  color: #999999;
}

.page-select-num {
  color: #ffffff;
}

.page-select-num:hover {
  color: #D73A49;
}
