body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:  #1B1F23;
  color: #ffffff;
}

.navbar {
  background-color: #2c2f33 !important;
  padding: 10px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.navbar a:hover {
  color: #ed4245;
}

.filter {
  color:#666666;
}

.filter:hover {
  color: #999999;
}

.filter:visited {

}

.comment {
  margin-left: calc(var(--indent-level) * 15px)
}

.comment-link {
  color:#666666;
}

.comment-link:hover {
  color: #999999;
  cursor: pointer;
}

input.comment-link {
  border: none;
  background: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}


.list-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2c2f33;
  color: #ffffff;
  border-color: #808080 !important;
}

.list-group h4 {
  margin-bottom: 10px;
}

.list-group p {
  margin:0;
}

.list-group-item {
  background-color:  #1B1F23;
  color: #ffffff;
  border-color: #808080;
}

.item-title {
  text-decoration: none;
  color: #ffffff;
}

.item-title:hover {
  color: #ed4245;
}

.item-title:visited {

}

.item-info {
  font-size: 14px;
}

.item-dates {
  font-size: 12px;
}

.form-container {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

.form-control {
  color: #ffffff;
  background-color: #2c2f33;
  border: 1px solid #D73A49;
  box-shadow: 0 0 5px #D73A49;
}

.form-control:focus {
  color: #ffffff;
  background-color: #2c2f33;
  border: 1px solid #D73A49;
  box-shadow: 0 0 5px #D73A49;
}

.form-check {
  list-style: none;
}

.form-check-input {

}

.btn {
  background-color: #D73A49 !important;
  color: #ffffff !important;
  border: 1px solid black;
  text-shadow: 1px 1px black;
}

.btn:hover {
  border: 1px solid #D73A49;
  box-shadow: 0 0 5px #D73A49;
}

.add-form {
  display: none;
}

.remove-form {
  display: none;
}

div[class^="reply-form-"] {
  display: none;
}

div[class^="comment-form-"]{
  display: none;
}
