{% extends 'base_account.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'account_styling.css' %}" />
{% endblock %}

{% block page_content %}
<div class="login-container">
  {% if validlink %}
    <h2>Set a new password</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn" type="submit" value="Change Password">
    </form>
  {% else %}
    <p>Password link was invalid, possibly because it was already used. Please request a new reset.</p>
  {% endif %}
</div>
{% endblock %}
