{% extends 'base_account.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'account_styling.css' %}" />
{% endblock %}

{% block page_content %}
<br>
<div class="row">
  <div class="login-container">
  <h3>Forgot Password</h3>
  {% if email_sent %}
    <p>An email has been sent to your email address with instructions to reset your password!</p>
  {% else %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn" type="submit" value="Send me instructions!">
    </form>
  {% endif %}
  </div>
</div>
{% endblock %}
