{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block body_content %}

  <div class="row">
    <div class="col-md-11 offset-md-1">
      <div class="issue-description">
        <br>
          <h3> {{ issue.title }} </h3>
          <p> Project : <a href="{% url 'issues:project_details' issue.project.id %}"> {{ issue.project }}</a></p>
          <p> Description: </p>
          <p>{{ issue.summary }}</p>
          <div class="item-info">
            <p> {{ issue.issue_status }} &nbsp; &nbsp; &nbsp; {{ issue.priority }} </p>
          </div>
          <div class='item-dates'>
            <p> Owner: {{ issue.created_by }} -- Created on: {{ issue.created_on | date }}</p>
            <p> Last Updated by: {{ issue.modified_by }} -- {{ issue.modified_on | date }}</p>
          </div>
      </div>
    </div>
  </div>

  {% if user == issue.created_by %}
  <div class="row">
    <div class="col-md-3 offset-md-2">
      <a class="btn btn-info right mr-2" href="{% url 'issues:update_issue' issue.project.id %}">Update Issue</a>
    </div>
    <div class="col-md-3 offset-md-2">
      <form action="{% url 'issues:delete_issue' issue.id %}" method="post">
         {% csrf_token %}
         <input class="btn btn-info right mr-2" id='delete-btn' type="submit" value="Delete Issue" onclick="return confirm('Are you sure you want to delete this issue?')">
      </form>
    </div>
  </div>
  {% endif %}

{% endblock %}
