{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block body_content %}
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <br>
      <h2>Popular Issues</h2>
      <ul class="list-group list-group-flush">
      {% for issue in issue_list %}
        <li class="list-group-item">
          <h4><a class="item-title" href="{% url 'issues:issue_details' issue.id %}">{{ issue.title }}</a></h4>
          <div class="item-info">
            <p> Project: {{ issue.project }}</p>
            <p> {{ issue.issue_status }} &nbsp; &nbsp; &nbsp; {{ issue.priority }}</p>
          </div>
          <div class="item-dates">
            <p> Created By: {{ issue.created_by }} -- {{ issue.created_on }}</p>
            <p> Last Updated: {{ issue.modified_on }}</p>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
