{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block body_content %}

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="issue-description">
          <h3> {{ issue.title }} </h3>
          <p> Project : <a href="{% url 'issues:project_details' issue.project.id %}"> {{ issue.project }}</a></p>
          <p> Summary: {{ issue.summary }} </p>
          <p> {{ issue.issue_status }} </p>
          <p> {{ issue.priority }} </p>
          <p> {{ issue.created_by }} </p>
          <p> {{ issue.created_on | date }} </p>
          <p> {{ issue.modified_by }} </p>
          <p> {{ issue.modified_on | date }} </p>
      </div>
      <a href="{% url 'issues:update_issue' issue.id %}">Update Issue</a>
    </div>
  </div>

{% endblock %}
