{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block body_content %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="project-description">
        <h2>{{ project.title }}</h2>
        <p>{{ project.summary }}</p>

        <ul class='issue-list'>
          {% for issue in issue_list %}
          <li class="issue-list-item">
            <h4><a href="{% url 'issues:issue_details' issue.id %}">{{ issue.title }}</a></h4>
            <p>{{ issue.issue_status }}</p>
            <p>{{ issue.priority }}</p>
            <p>Project: {{ issue.project }}</p>
            <p>Created By: {{ issue.created_by }}</p>
            <p>Created: {{ issue.created_on }}</p>
            <p>Modified: {{ issue.modified_on }}</p>
          </li>
          {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 offset-md-2">
    <a class="btn btn-info right mr-2" href="{% url 'issues:create_issue' project.id %}">Create Issue</a>
  </div>
  <div class="col-md-3 offset-md-2">
    <form action="{% url 'issues:delete_project' project.id %}" method="post">
       {% csrf_token %}
       <input class="btn btn-info right mr-2" id="delete-btn" type="submit" value="Delete Project" onclick="return confirm('Are you sure you want to delete this project?')">
    </form>
  </div>
</div>
{% endblock %}
