{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block body_content %}
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <br>
      <h2>Recent Projects</h2>
      <ul class="list-group list-group-flush">
        {% for project in project_list %}
          <li class="list-group-item">
            <h4><a class="item-title" href="{% url 'issues:project_details' project.id %}">{{ project.title }}</a></h4>
            <div class="item-dates">
              <p>Created By: {{ project.created_by }} -- {{ project.created_on }}</p>
              <p>Last Updated: {{ project.modified_on }}</p>
            </div>
          <li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
