{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block body_content %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="project-description">
        <h2>{{ project.title }}</h2>
        <p>{{ project.summary }}</p>

        <ul class='issue-list'>
          {% for issue in issue_list %}
          <li class="issue-list-item">
            <h4><a href="{% url 'issues:issue_details' issue.id %}">{{ issue.title }}</a></h4>
            <p>{{ issue.issue_status }}</p>
            <p>{{ issue.priority }}</p>
            <p>Project: {{ issue.project }}</p>
            <p>Created By: {{ issue.created_by }}</p>
            <p>Created: {{ issue.created_on }}</p>
            <p>Modified: {{ issue.modified_on }}</p>
          </li>
          {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
