{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block body_content %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="user-info">
        <h3 class="username">{{ user.name }}</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <ul class="list-group list-group-flush">
        {% for project in project_list %}
          <li class="list-group-item">
            <h5><a class="item-title" href="{% url 'issues:project_details' project.id %}">{{ project.title }}</a></h5>
            <div class="item-dates">
              <p>Created on: {{ project.created_on }}</p>
              <p>Last Updated: {{ project.modified_on }}</p>
            </div>
          <li>
        {% endfor %}
      </ul>

      {% include 'pagination.html' %}
      
    </div>
  </div>

{% endblock %}
