{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block body_content %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="user-info">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <ul class="list-group list-group-flush">
        {% for project in project_list %}
          <li class="list-group-item">
            <h3><a class="item-title" href="{% url 'issues:project_details' project.id %}">{{ project.title }}</a></h3>
            <p>Created on: {{ project.created_on }}</p>
            <p>Last Updated: {{ project.modified_on }}</p>
          <li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="col-md-3 offset-md-2">
        <a class="btn btn-info right mr-2" href="{% url 'issues:create_project' %}">Create Project</a>
      </div>
    </div>
  </div>
{% endblock %}
